header{
  font-size: 25px;
  margin-bottom: 20px;

}
ul{
  width: 100%;
  background-color:#EEF3F6;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  overflow: hidden;
  text-align: center; /* Important for centering */
  display:table;
  margin: 0; /* Important for centering */
  padding: 0;
  display:inline-block; /* may change back to table */
}

li{
  list-style: none;
  display:inline-block; /* Important for centering */
  height: 25px;
  padding-top: 5px;



}


a{
  text-decoration: none;
  font-weight:lighter;
  font-family:cursive;
  color: #148F77 ;
  padding:14px;

}




a:hover{
  color: black;
  padding-bottom: 1px;
}

.so{
    padding-top: 20px;

}

.home{
  color: black;
}

div.career,div.interests, div.hobbies, #contact-buttom{
  background-color: white;
  width:100%;
  height: auto;
  overflow: hidden;
  margin-left: auto;/*for centering*/
  margin-right: auto;
  padding-top: 50px;
  border-radius: 2px;
  border-color: black
}

.line{
  width: 10%;
  height: 5px;


}


}

.me-right{
  float: right;

}

body{
  font-family:arial;
  text-align:center;

}

#contact-buttom{
  background-color: #EEF3F6;
}
#contact-buttom-large{
  background-color: #EEF3F6;
  width: 100%;
}

.insta{

}

h1{
  padding-top: 0px;
  font-size: 20px;
}
