

/*not in use*/
ul{
  width: 100%;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color:#F7F9F9;
  text-align: center;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0; /*necessary for sticky*/




}
li{
  float: left;
  list-style-type: none;
  display: inline;

}

#menu{
  position: sticky;
  top: 0;
}

a, .dropdown{
  color: #DC7633;
  padding: 20px 16px;
  font-family:cursive;
}

.active, li a:hover {
  background-color:#D1F2EB;
}

@media screen and (max-width:600px) {
  li{
    float: none;
  }
}
