a.active{
  color: black;
}


a.int{
  padding: 0px;
}

@media screen and (max-width:600px) {
  #contact{
    display: none;
  }

}

@media screen and (min-width:600px) {
  #contact-buttom{
    display: none;
  }

}
