a.active{
  color: black;
}


a.int{
  padding: 0px;
}

@media screen and (max-width:500px) {
  #contact{
    display: none;
  }

}

@media screen and (min-width:500px) {
  #contact-buttom,#contact-pages{
    display: none;
  }

}
@media screen and (max-width:500px) {
  #contact-buttom-large{
    display: none;
  }
}

@media screen and (max-width:250px) {
  .line{
    display: none;
  }

}
